<!-- 底部 -->
{% if mobile %}
    <footer class="es-footer">
        <div class="copyright">
            <div class="container">
                <p>©2018-2020 秘书e学 版权所有 ICP证：京ICP备18034085号-1</p>
            </div>
        </div>
    </footer>
{% else %}
<div id="fd" class="es-footer">
    <div class="f-top">
        <div class="wp">
            <div class="f-logo hidden-sm hidden-xs"> <a href=""><img src="/skin/images/f-logo.png" alt=""></a>
                <p>秘书e学</p>
            </div>
            <div class="f-nav">
                <dl class="dl-first">
                    <dt class="tit">新手指南</dt>
                    <dd> <a href="/page/login">注册登录</a> <a href="/page/buy">购买流程</a> <a href="/page/help">常见问题</a> <a href="/page/look">观看课程</a> </dd>
                </dl>
                <dl>
                    <dt class="tit">关于我们</dt>
                    <dd> <a href="/page/aboutus">公司简介</a> <a href="/page/contactus">联系我们</a> <a href="/page/copyright">版权声明</a> <a href="/page/business">商务合作</a> </dd>
                </dl>
                <dl class=" hidden-sm hidden-xs">
                    <dt class="tit">学员服务</dt>
                    <dd> <a href="/page/listen">听课问题</a> <a href="/page/refund">退费规定</a> <a href="/page/setting">账户设置</a> <a href="/page/order">订单查询</a> </dd>
                </dl>
                <dl class=" hidden-sm hidden-xs">
                    <dt class="tit">售后服务</dt>
                    <dd> <a href="/page/invoice">发票相关</a> <a href="/page/forget">忘记密码</a> <a href="/page/play">播放问题</a> <a href="/page/other">注意事项</a> </dd>
                </dl>
                <dl class="f-con">
                    <dt class="tit">联系我们</dt>
                    <dd><ul>
                            <li><img style="margin-left:4px" src="/skin/images/icon-address.png"> 公司地址：北京海淀区西四环19号</li>
                            <li><img style="margin-left:2px" src="/skin/images/icon-phone.png"> 联系电话：010-68623290</li>
                            <li><a href="mailto:mishuedu@163.com"><img src="/skin/images/icon-email.png"> 联系邮箱：mishuedu#163.com(#换@)</a></li>
                        </ul></dd>
                </dl>
            </div>
            <div class="f-ma hidden-sm hidden-xs">
                <h4 class="tit">关注我们</h4>
                <p> <span>扫描微信公众号二维码<i></i></span> <img class="img-ma" src="/skin/images/scan_weixin.jpg"> </p>
                <p> <span>扫描手机网站二维码<i></i></span> <img class="img-ma" src="/skin/images/scan_mobile.png"> </p>
            </div>
        </div>
        <div class="c"></div>
    </div>
    <div class="f-bot">
        <div class="container">
            <div class="f-copy">
                <p class=" hidden-sm hidden-xs"><a href="/">首页</a> | <a href="/course/explore">选课中心</a> | <a href="/article">新闻资讯</a> | <a href="/teacher">师资团队</a> | 技术支持 24小时服务热线：010-68623290 Email：mishuedu#163.com(#-@) 工作时间：8:30-18:00</p>
                <p>©2018-2020 秘书e学 版权所有 ICP证：京ICP备18034085号-1</p>
            </div>

        </div>
    </div>
</div>
{% endif %}