<!--tip start-->
<div class="clearfix hidden-sm hidden-xs">
    <ul class="ul1" style="width:1200px;margin:10px auto;">
        <li><img src="/skin/images/img-1.jpg" alt="mishuedu"></li>
        <li><img src="/skin/images/img-2.jpg" alt="mishuedu"></li>
        <li><img src="/skin/images/img-3.jpg" alt="mishuedu"></li>
        <li class="last"><img src="/skin/images/img-4.jpg" alt="mishuedu"></li>
    </ul>
</div>
<!--tip end-->
